@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    border: none;
}

html {
    scroll-padding-top: 20vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    user-select: none;
}

::selection {
    color: rgb(205, 205, 205);
    background-color: rgb(89, 89, 89);
}

.icon-circle {
    @apply flex items-center justify-center w-16 h-16 bg-gray-800 rounded-full;
}
